/*Edit*/

button {
    color: #ff0000;
}

    button:hover {
        color: #990000;
    }


input:hover {
    padding: 5px;
    
}

/*
a {
    margin-top: 15px;
}
    font-size: 115%;
    a:hover {
        font-size: 115%;
    }

label, input {
    margin-top: 15px;
    margin-bottom: 15px;
}

button:hover {
    color: rgb(51, 153, 51);
}




th {
    margin-top: 25px;
    color: rgb(102, 51, 0);
}
    */